h1 {
    text-align: center;
    color: #DCD0EA;
}

body {
    background-color: #B7D8E6;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

nav {
    background-color: #F6F1C9;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: cornflowerblue;
    font-size: 1.5em;
}

nav a:hover {
    color: #CEBED9;
    text-decoration: wavy;
}
